body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f7f7f7;
   color: #333;
   }
header {
   background-color: #4CAF50;
   color: white;
   text-align: center;
   padding: 20px 0;
   }
nav h3 {
   text-align: center;
   }
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
   }
nav ul li {
   display: inline;
   margin: 0 10px;
   }
nav ul li form {
   display: inline;
   }
nav ul li form button {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Создание эффекта выпуклости */
   }

nav ul li form button:hover {
   background-color: #45a049;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
   }

footer {
   background-color: #4CAF50; /* Цвет фона */
   color: white;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   bottom: 0;
   width: 100%;
   }