<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Хозяйство</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1 th:text="${message}"></h1>
</header>
<nav>
    <h3>Доступные действия</h3>
    <ul>
        <li><form action="fields.html"><button>Список полей</button></form></li>
        <li><form action="field_form.html"><button>Создать новое поле</button></form></li>
        <li><form action="field_form.html"><button>Редактировать поле</button></form></li>
        <li><form action="field_form.html"><button>Удалить поле</button></form></li>
    </ul>
</nav>
<div>
    <h3>Информация о хозяйстве</h3>
    <p>ID хозяйства<br>
    <p th:text="${farm.getId()}"></p>
    <p>Название<br>
    <p th:text="${farm.getTitle()}"></p>
    <p>Адрес<br>
    <p th:text="${farm.getAddress()}"></p>
    <ul>
        <li><form action="/"><button>Вернуться на главную страницу</button></form></li>
    </ul>
</div>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>