<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новое хозяйство</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Добавление хозяйства</h1>
</header>
<form name="farm_form" method="post" action="/api/farm">
    <h3>Введите данные о хозяйстве</h3>
    <hr>
    <p>Название<br>
        <input type="text" name="title" size="100">
    </p>
    <p>Адрес<br>
        <input type="text" name="address" size="100">
    </p>
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
    <hr>
</form>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>