<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новое поле</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Добавление хозяйства</h1>
</header>
<form name="field_form" method="post" action="/api/field">
    <h3>Введите данные о поле</h3>
    <hr>
    <p>Хозяйство<br>
        <input type="text" name="farm">
    </p>
    <p>Площадь<br>
        <input type="number" name="area">
    </p>
    <p>Почва<br>
        <input type="text" name="soil" size="100">
    </p>
    <p>Описание<br>
        <input type="text" name="description" size="100">
    </p>
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
    <hr>
</form>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>