<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Поля</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h3 th:text="${message}">Список полей</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Хозяйство</th>
        <th>Площадь</th>
        <th>Почва</th>
        <th>Описание</th>
    </tr>
    <tr th:each="field: ${fields}">
        <td th:text="${field.getId()}"></td>
        <td th:text="${field.getFarm()}"></td>
        <td th:text="${field.getArea()}"></td>
        <td th:text="${field.getSoil()}"></td>
        <td th:text="${field.getDescription()}"></td>
    </tr>
</table>
<ul>
    <li><form action="/"><button>Вернуться на главную страницу</button></form></li>
</ul>
</nav>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>