<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Главная</h1>
</header>
<nav>
    <h3>Доступные ресурсы</h3>
    <ul>
        <li><form action="farms.html"><button>Список хозяйств</button></form></li>
        <li><form action="farm_form.html"><button>Создать новое хозяйство</button></form></li>
        <li><form action="farm_form.html"><button>Редактировать хозяйство</button></form></li>
        <li><form action="farm_form.html"><button>Удалить хозяйство</button></form></li>
    </ul>
</nav>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>