<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>АгроДоз</h1>
</header>
<nav>
    <ul>
        <li><a href="/api/farm/all">Список хозяйств</a></li>
        <li><a href="/farm_form">Создать новое хозяйство</a></li>
    </ul>
</nav>
<div class="main-info">
    <div class="justify">
        <p>
            Портал на котором Вы находитесь, позволяет собирать, хранить и обрабатывать
            данные агрохимического осбледования полей Вашего хозяйства.</p>
        <p>
            На основе результатов анализа почвенных образцов формируется достоверное
            представление об уровне плодородия почв хозяйства, оценивается действительно
            возможная урожайность зерновых культур (при оптимальных погодных условиях
            вегетационного периода и высоком уровне агротехники).
            Рассчитываются дозы азота, фосфора и калия на планируемую урожайность.
        </p>
        <p>
            Рекомендуемый период между агрохимическим обследованием полей 4-6 лет
            (при интенсивном применении минеральных и органических удобрений,
            период желательно сократить).
        </p>
    </div>
    <div class="login-registration-container">
        <div sec:authorize="!isAuthenticated()" class="greetings">Гость</div>
        <div sec:authorize="!isAuthenticated()" class="login-form">
            <form name="user_login" method="get" action="/login">
                <button type="submit">Войти</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()" class="registration-form">
            <form name="registration" method="get" action="/register">
                <button type="submit">Регистрация</button>
            </form>
        </div>

        <div sec:authorize="isAuthenticated()" class="logout">
            <div th:text="${#authentication.getPrincipal().getLastname}" class="greetings"></div>
            <br>
            <form method="post" th:action="@{/logout}">
                <button type="submit">Выйти</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <p>&copy; Созинов А.В., Плотников А.М., 2024</p>
</footer>
</body>
</html>