<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Точка</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1 th:text="${message}"></h1>
</header>
<nav>
    <h3>Информация о точке</h3>
    <p>ID точки<br>
    <p th:text="${point.getId()}"></p>
    <p>Поле<br>
    <p th:text="${point.getField()}"></p>
    <p>Широта<br>
    <p th:text="${point.getLatitude()}"></p>
    <p>Долгота<br>
    <p th:text="${point.getLongitude()}"></p>
    <p>Гумус<br>
    <p th:text="${point.getHumus()}"></p>
    <p>Фосфор<br>
    <p th:text="${point.getPhosphorus()}"></p>
    <p>Калий<br>
    <p th:text="${point.getPotassium()}"></p>
    <p>рН<br>
    <p th:text="${point.getPh()}"></p>
    <p>Плотность<br>
    <p th:text="${point.getDensity()}"></p>
    <ul>
        <li><form action="/"><button>Вернуться на главную страницу</button></form></li>
    </ul>
</nav>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>