<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Удобрение</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1 th:text="${message} ?: 'Дозы удобрений'"></h1>
</header>

<main>
    <h3>Информация о поле</h3>
    <p>
        <strong>ID поля:</strong>
        <span th:text="${field.getFieldId()} ?: '8'"></span>
    </p>
    <p>
        <strong>Хозяйство:</strong>
        <span th:text="${field.getFarm().getTitle()} ?: 'ООО Учебно-опытное хозяйство Каширинское'"></span>
    </p>
    <p>
        <strong>Площадь:</strong>
        <span th:text="${field.getArea()} ?: '245 га'"></span>
    </p>
    <p>
        <strong>Почва:</strong>
        <span th:text="${field.getSoil()} ?: 'Чернозем выщелоченный'"></span>
    </p>
    <p>
        <strong>Описание:</strong>
        <span th:text="${field.getDescription()} ?: 'Паровое поле'"></span>
    </p>

    <h3>Среднее содержание</h3>
    <p>
        <strong>Гумус, %:</strong>
        <span>3,24</span>
<!--        <span th:text="${getHumus()} ?: '3,24'"></span>-->
    </p>
    <p>
        <strong>Подвижный фосфор, мг/кг:</strong>
        <span>53,4</span>
<!--        <span th:text="${getPhosphorus()} ?: '53,4'"></span>-->
    </p>
    <p>
        <strong>Обменный калий, мг/кг:</strong>
        <span>268</span>
<!--        <span th:text="${getPotassium()} ?: '268'"></span>-->
    </p>
    <h3>Дозы удобрения в д.в. на планируемый урожай 3,0 т/га, кг/га</h3>
    <p>
        <strong>Азот:</strong>
        <span th:text="${nRate} ?: '62'"></span>
    </p>
    <p>
        <strong>Фосфор:</strong>
        <span th:text="${pRate} ?: '35'"></span>
    </p>
    <p>
        <strong>Калий:</strong>
        <span th:text="${kRate} ?: '0'"></span>
    </p>

    <ul>
        <li><a href="/">Вернуться на главную страницу</a></li>
    </ul>
</main>
<footer>
    <p>&copy; Созинов А.В., Плотников А.М., 2024</p>
</footer>
</body>
</html>