<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новый пользователь</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Добавление пользователя</h1>
</header>
<form name="user_form" method="post" action="/api/user">
    <h3>Введите данные о пользователе</h3>
    <hr>
    <p>Фамилия<br>
        <input type="text" name="lastname" size="20">
    </p>
    <p>Имя<br>
        <input type="text" name="firstname" size="20">
    </p>
    <p>Отчество<br>
        <input type="text" name="patronymic" size="20">
    </p>
    <p>Телефон<br>
        <input type="text" name="phone" size="20">
    </p>
    <p>Email<br>
        <input type="text" name="email" size="20">
    </p>
    <p>Роль<br>
        <input type="text" name="role">
    </p>
    <p>Логин<br>
        <input type="text" name="login" size="20">
    </p>
    <p>Пароль<br>
        <input type="password" name="password" size="20">
    </p>
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
    <hr>
</form>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>