<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h3 th:text="${message}">Список пользователей</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th>Роль</th>
        <th>Логин</th>
        <th>Пароль</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getFirstname()}"></td>
        <td th:text="${user.getPatronymic()}"></td>
        <td th:text="${user.getPhone()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRole()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getPassword()}"></td>
    </tr>
</table>
<ul>
    <li><form action="/"><button>Вернуться на главную страницу</button></form></li>
</ul>
</nav>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>