<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пользователь</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1 th:text="${message}"></h1>
</header>
<nav>
    <h3>Информация о пользователе</h3>
    <p>ID пользователя<br>
    <p th:text="${user.getId()}"></p>
    <p>Фамилия<br>
    <p th:text="${user.getLastname()}"></p>
    <p>Имя<br>
    <p th:text="${user.getFirstname()}"></p>
    <p>Отчество<br>
    <p th:text="${user.getPatronymic()}"></p>
    <p>Телефон<br>
    <p th:text="${user.getPhone()}"></p>
    <p>Почта<br>
    <p th:text="${user.getEmail()}"></p>
    <p>Роль<br>
    <p th:text="${user.getRole()}"></p>
    <p>Логин<br>
    <p th:text="${user.getLogin()}"></p>
    <p>Пароль<br>
    <p th:text="${user.getPassword()}"></p>
    <ul>
        <li><form action="/"><button>Вернуться на главную страницу</button></form></li>
    </ul>
</nav>
<footer>
    <p>&copy; Созинов Андрей Викторович, 2024 г.</p>
</footer>
</body>
</html>